body {
    margin: 0%;
    background-color: aliceblue;
}

header {
    height: 80px;
    margin: 0;
    text-align: center;
}

header > h1 {
    margin-top: 0%;
    color: rgb(39, 42, 43);
    line-height: 80px;
    padding-left: 20px;
    font-size: 32px;
    opacity: .5;
}

h2 {
    font-size: 20px;
    opacity: .5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px;
    margin: 40px auto;
    text-align: center; */
}

.box {
    width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .1);
}

.input {
    width: 300px;
    opacity: 0.5;
    padding: 16px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}

.textarea {
    resize: none;
    width: 300px;
    height: 100px;
    opacity: 0.5;
    padding: 16px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.btn {
    border: none;
    /* font-size: 24px; */
    width: 332px;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(160, 194, 245);
    color: rgba(5, 5, 5, 0.5);
}

.btn:hover {
    opacity: .5;
}

.createAccount {
    text-decoration: none;
    display: inline-block;
    background-color: aqua;
    width: 150px;
    padding: 16px;
    border-radius: 10px;
    opacity: .5;
    margin: 32px ;
}

.createAccount:hover {
    opacity: .3;
}

.birthday {
    display: flex;
    justify-content: space-evenly;
    margin: 8px 24px 8px 32px;
}

select {
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 10px;
    padding: 16px ;
    width: 100%;
    margin-right: 8px;
    color: rgba(5, 5, 5, 0.5);
    font-size: 16px;
}

.gender {
    display: flex;
    justify-content: space-evenly;
    margin: 8px 24px 16px 32px;
}

.gender > div {
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 10px;
    height: 48px;
    line-height: 48px;
    width: 100%;
    margin-right: 8px;
    color: rgba(5, 5, 5, 0.5);
    font-size: 16px;
    /* cursor: pointer; */
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: skyblue;
    font-size: 12px;
}

.login {
    display: inline-block;
    text-decoration: none;
    margin: 18px 12px 12px 12px;
}

.myPage_container{
    /* text-align: left; */
    /* margin-left: 50px; */
    color: rgb(39, 42, 43);
    opacity: .5;
}

.myPage_list {
    text-align: left;
    margin-left: 54px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.myPage_list li {
    margin-top: 8px;
}

.myPage_list a {
    text-decoration: none;
    color: rgba(5, 5, 5, 0.5);
}

.myPage_btn {
    border: none;
    /* font-size: 24px; */
    width: 150px;
    padding: 8px 16px;
    border-radius: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: rgb(160, 194, 245);
    color: rgba(5, 5, 5, 0.5);
}

.myPage_btn:hover {
    opacity: .5;
}

.postPage {
    color: rgba(5, 5, 5, 0.5);
    margin-bottom: 0px;
    text-align: left;
    margin-left: 35px;
}

.edit {
    text-align: right;
    margin-right: 16px;
    margin-top: 16px;
}

.edit a{
    text-decoration: none;
    color: rgba(5, 5, 5, 0.5);
    border: 1px solid rgba(5, 5, 5, 0.3);
    padding: 4px 8px;
    border-radius: 25%;
}

.post_body {
    width: 300px;
    table-layout: fixed;
    word-wrap: break-word;
    color: rgba(5, 5, 5, 0.5);
    text-align: left;
    margin: 16px auto;

}

.post_title {
    text-align: left;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

.flex1 {
    text-align: left;
    margin: 16px 0 0 16px;
}

.flex2 {
    text-align: center;
    margin: 16px;
}

.flex2 a {
    text-decoration: none;
    color: rgba(5, 5, 5, 0.5);
    border: 1px solid rgba(5, 5, 5, 0.3);
    padding: 4px 8px;
    border-radius: 25%;
}

.flex2 a:hover {
    background-color: skyblue;
}

.back {
    margin-bottom: 16px;
}

.back a{
    color: rgba(5, 5, 5, 0.8);
}

.delete_btn {
    cursor: pointer;
    color: rgba(5, 5, 5, 0.5);
    padding: 4px 16px;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 16px;
    margin-top: 32px;
    color: tomato;
}

.delete_btn:hover {
    opacity: .5;
}

.back {
    text-align: center;
    margin: 16px;
}

.back a {
    text-decoration: none;
}

.posts_box {
    width: 350px;
    margin: 0 auto 16px;
    border: 1px solid rgba(5, 5, 5, 0.3);
    text-align: left;
    padding: 8px;
    border-radius: 10px;
}

.posts {
    margin: 16px;
}
